@font-face {
  font-family: "AkzidenzGroteskPro";
  src: url("../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Bold.eot");
  src: url("../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Bold.woff") format("woff"),
  url("../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-Light.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"),
  url("../fonts/HelveticaNeue/HelveticaNeueCyr-Light.woff") format("woff"),
  url("../fonts/HelveticaNeue/HelveticaNeueCyr-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}