.header {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  .navbar {
    .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .row {
    flex-grow: 1;
  }

  .login-register {
    text-align: right;

    .login-register-link {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .navbar-brand {
    font-family: $Akzidenz-Grotesk-Pro;
    font-weight: $font-weight-bold;
    padding: 0;
    font-size: 23px;
  }

  .navbar-nav {
    display: inline-flex;
  }

  .form-control {
    width: 50%;
  }

  input {
    width: 40%;
  }

  .phone-menu {
    align-items: center;

    input {
      display: none;
    }

    label {
      margin: 0;
    }

    .mobile-search {
      position: static;

      form {
        display: none;
      }

      img {
        cursor: pointer;
      }

      #MobileFormSearch:checked~form {
        display: flex;
        position: absolute;
        top: 0;
        left: 10%;
        right: 20%;
        background-color: $body-bg;

        input {
          display: inline-block;
          width: 60%;
        }
      }
    }

    .scale-img:hover {
      cursor: pointer;
      transform: scale(1.2);
    }

    .mobile-menu-list {
      display: none;

      .mobile-menu-list-header {
        width: 100%;
        padding: 18px 25px;
        display: flex;
        justify-content: flex-end;

        .heading {
          flex-grow: 1;
          font-size: 18px;
          font-weight: 700;
          color: $list-group-item-color-hover;
          display: flex;
          justify-content: center;
        }

        .close-categories-list {
          img {
            width: 18px;
            height: 18px;
            cursor: pointer;
          }
        }

        .mobile-menu-list-close {
          label {
            margin: 0;
          }

          img {
            width: 16px;
            height: 16px;
            cursor: pointer;
          }

        }
      }

      .mobile-menu-list-content {
        .open-mobile-chat {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;

          span {
            font-weight: normal;
          }

          img {
            width: 20px;
            height: 18px;
            cursor: pointer;

            &:hover {
              transform: scale(1.2);
            }
          }
        }
      }

      .mobile-menu-list-heading-categories {
        font-weight: 700;
        font-size: 16px;
        padding: 24px 20px 0 20px;
      }
    }

    #mobile-menu:checked~.mobile-menu-list {
      display: block;
      @include mobile-menu;
      z-index: 50;
    }

    #mobile-menu-close:checked~.mobile-menu-list {
      display: none;
    }

    .mobile-menu-list-product-categories {

      #CameraPhoto-MobileList,
      #HomeCinemaTvVideo-MobileList,
      #MobilePhones-MobileList,
      #ComputersComponents-MobileList {
        display: none;
      }

      .list-item {
        display: flex;
        align-items: center;
      }

      .list-group-item {
        label {
          margin: 0;
        }

        a,
        label {
          @include list-group-item-label;

          &:hover {
            color: $list-group-item-color-hover;
          }

          &:focus {
            color: $list-group-item-color-hover;
          }
        }

        img {
          width: 5px;
          height: 9px;
        }
      }

      #CameraPhotoMobile:checked~#CameraPhoto-MobileList,
      #HomeCinemaTvVideoMobile:checked~#HomeCinemaTvVideo-MobileList,
      #MobilePhonesMobile:checked~#MobilePhones-MobileList,
      #ComputersComponentsMobile:checked~#ComputersComponents-MobileList {
        display: block;
        @include mobile-menu;
        z-index: 60;
        overflow-y: scroll;
      }


    }
  }
}