
$Akzidenz-Grotesk-Pro: "AkzidenzGroteskPro",sans-serif;
$Helvetica-Neue: "HelveticaNeue",sans-serif;

$list-group-item-color: #373A3C;
$list-group-item-color-hover: #D9534F;

$carousel-btn-bg: orangered;
$carousel-btn-text-color: #ffffff;

$card-photo-bg: ghostwhite;

$stars-rating-color: #CCCCCC;
$stars-rating-color-hover: #F0AD4E;

$guarantee-text: #478F47;

$social-btn-bg-fb: #2C408E;
$social-btn-bg-vk: #416CA9;
$social-btn-bg-tw: #1D8EF0;

$chat-header-bg: orange;